<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
<!-- 长宽只能在这里设置 -->
<div id="bar" style="width:1200px; height:700px;"></div>
<script>
    var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
    var option = {};
    // 设置各点的投影属性
    var itemStyle = {
        opacity: 0.8,
        shadowBlur: 2,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(255, 255, 255, 0.6)'
    };
    // 鼠标触发面板schema
    var schema = [
        {name: '评论时间', index: 0},
        {name: '评论字数', index: 1},
        {name: '评论内容', index: 2}
    ];

    $(
            function () {
                fetchData(chart);
                setInterval(getDynamicData, 2000);
            }
    );

    // 时间格式转换
    function formatDate(datetime) {
        var date = new Date(parseInt(datetime) * 1000);
        var year = date.getFullYear(),
            month = ("0" + (date.getMonth() + 1)).slice(-2),
            sdate = ("0" + date.getDate()).slice(-2),
            hour = ("0" + date.getHours()).slice(-2),
            minute = ("0" + date.getMinutes()).slice(-2),
            second = ("0" + date.getSeconds()).slice(-2);
        // 拼接
        var result = year + "-" + month + "-" + sdate + " " + hour + ":" + minute + ":" + second;
        // 返回
        return result;
    }

    function fetchData() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/dynamicData",
            dataType: "json",
            success: function (result) {
                option = {
                    title: {
                        text: "弹幕字数时间图",
                        subtext: "数据来源Bilibili",
                        left: "2%",
                        top: "3%",
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    backgroundColor: '#404a59',
                    color: ['#dd4444'],
                    // 鼠标触发信息显示
                    tooltip: {
                        padding: 10,
                        backgroundColor: '#222',
                        borderColor: '#777',
                        borderWidth: 1,
                        formatter: function (obj) {
                            var value = obj.value;
                            return schema[0].name + '：' + formatDate(value[1]) + '<br>'
                                    + schema[1].name + '：' + value[3] + '<br>'
                                    + schema[2].name + '：' + value[4] + '<br>';
                        }
                    },
                    // 视频编号显示
                    legend: {
                        top: '3%',
                        data: [result.name],
                        textStyle: {
                            color: '#fff',
                            fontSize: 16
                        }
                    },
                    // 整体图像在div中位置
                    grid: {
                        left: '5%',
                        right: 150,
                        top: '18%',
                        bottom: '10%'
                    },
                    xAxis: {
                        type: 'value',
                        name: '视频时间流',
                        nameGap: 16,
                        nameTextStyle: {
                            color: '#fff',
                            fontSize: 16
                        },
                        max: 1,
                        splitLine: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: '弹幕日期流',
                        scale: true,
                        nameLocation: 'center',
                        nameTextStyle: {
//                            verticalAlign: 'middle',
                            align: 'center',
                            color: '#fff',
                            fontSize: 16
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        },
                        axisLabel: {
                            show: false // 不显示坐标刻度值
                        },
                        splitLine: {
                            show: false
                        }
                    },

                    visualMap: {
                        text: ['弹幕字数'],
                        // 默认有text不显示侧标签，需要手动开启
                        showLabel: true,
                        // 默认取最后一个维度数据
                        dimension: 3,
                        min: 0,
                        itemSymbol: 'triangle',
                        // 注意超过设定值会不显示
                        max: 40,
                        left: '90%',
                        top: '12%',
                        splitNumber: 5,
                        color: ['#d94e5d', '#eac736', '#50a3ba'],
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    series: [
                        {
                            name: result.name,
                            type: 'scatter',
                            itemStyle: itemStyle,
                            symbolSize: 12,
                            data: result.value
                        }
                    ]
                };
                chart.setOption(option);
                console.log(option);
            }
        });
    }

    function getDynamicData() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/dynamicData",
            dataType: "json",
            success: function (result) {
                option.series[0].data.push(result.value);
                chart.setOption(option);
            }
        });
    }


</script>
</body>
</html>